/*https://code.tutsplus.com/tutorials/the-30-css-selectors-you-must-memorize--net-16048*/

/*Element*/
li {

}

/*class*/
.hello {

}

/*id*/
#name {

}

/*star*/
* {
	border: 1px solid lightgrey;
}

/*Descendant Selector*/
li a {
	color: red;
}

/*Adjacent Selector*/
h4 + ul {
	border: 2px solid green;
}


/*Attribute Selector*/
a[href="http://www.google.com"] {
	background: orange;
}

/*nth of type*/
li:nth-of-type(even) { /*or use the number*/
	background: grey;
}
