img {
	width: 20%;
	float: left;
	margin: 2.5%;
}

p {
	font-family: Raleway;
	margin-left: 2.5%;
	font-size: 23px;
	font-weight: 800;
	border-bottom: 2px solid lightgray;
	width: 20%; 
	padding-bottom: 20px;
}